<!DOCTYPE html>
<html>

<head>
  <title></title>
  <%- include('./layout/head'); %>
    <%- include('./layout/header'); %>
</head>

<body>


</body>
<footer>
  <%- include('./layout/footer');%>
</footer>

</html>