<!DOCTYPE html>
<html>

<head>
  <title>calibration 3D</title>
  <%- include('./layout/head'); %>
    <%- include('./layout/header'); %>
</head>

<body>

</body>
<footer>
  <%- include('./layout/footer');%>
</footer>

</html>