<!DOCTYPE html>
<html>

<head>

   <title>Nguyễn Thị Ngà</title>
   <%- include('./layout/head'); %>
      <%- include('./layout/header'); %>
</head>

<body>
   <div>
      <div class="container">
         <div class="row">
            <div class="col">
               <img width="100%" src="/img/action/218019131_2954636108109665_2818291496611390288_n.jpg" alt="">
            </div>
            <div class="col d-flex">
               <img class="m-auto" width="100%" src="/img/action/846a0e47b09946c71f88.jpg" alt="">

            </div>
         </div>
         <div class="row mt-2">
            <div class="col">
               <img width="100%" src="/img/product/DACS3/116508918_945981352493771_3163938931522947756_n.jpg" alt="">
            </div>
            <div class="col">
               <img width="100%" src="/img/product/DACS3/20200726_161832.jpg" alt="">
            </div>
            <div class="col d-flex">
               <img class="m-auto" width="56.5%" src="/img/product/DACS3/20210122_135321.jpg" alt="">
            </div>
         </div>
         <div class="container">
            <div class="row">
               <div class="col">
                  <img width="88.6%" src="/img/product/DACS4/20210122_135346.jpg" alt="">
               </div>
               <div class="col d-flex">
                  <img class="m-auto" width="100%" src="/img/product/DACS4/20200714_211816.jpg" alt="">
               </div>
               <div class="col-6">
                  <img width="100%" src="/img/product/DACS4/106668840_669902916922376_1207940527506286447_n.png" alt="">
               </div>
            </div>

            <img src="/img/product/DACS1/58379868_303157023942962_4618911725377290240_n.png" class="img-fluid mt-2"
               alt="...">

            <div class="row mt-2">
               <div class="col">
                  <img width="100%" src="/img/product/KHAC/20201128_080606.jpg" alt="">
               </div>
               <div class="col">
                  <img width="100%" src="/img/product/KHAC/20201222_203233.jpg" alt="">
               </div>
               <div class="col">
                  <img width="100%" src="/img/product/KHAC/20210130_080613.jpg" alt="">
               </div>
            </div>
            <div class="row mt-3">
               <div class="col">
                  <img width="100%" src="/img/product/KHAC/20210409_172306.jpg" alt="">
               </div>
               <div class="col">
                  <img width="100%" src="/img/product/KHAC/62243642_302834023931799_5742992743634829312_n.jpg" alt="">
               </div>
            </div>
            <div class="row mt-3">
                  <div class="col-8 embed-responsive embed-responsive-16by9 mt-8">
                    <iframe style="height: 260px;width: 100%;" class="embed-responsive-item" src="/img/product/DACS2/video-1572765103.mp4" allowfullscreen></iframe>
                  </div>
                  <div class="col d-flex">
                     <img width="100%" class="m-auto" src="/img/product/DACS2/75588118_412153879458026_2106700549817630720_n.jpg" alt="">
                 </div>
               </div>
            <div class="row mt-2">
               <div class="col">
                  <img width="100%" src="/img/product/DACS5/5b261a50a68e50d0099f.jpg" alt="">
               </div>
            <div class="col-9 embed-responsive embed-responsive-16by9">
                  <iframe style="height: 340px;width: 100%;" class="embed-responsive-item" src="/img/product/DACS5/video-1630652951.mp4" allowfullscreen></iframe>
                </div>
         </div>
         <div class="row mt-2">
                  <div class="col embed-responsive embed-responsive-16by9">
                     <iframe style="height: 350px;width: 100%;" class="embed-responsive-item" src="/img/product/DACS5/video-1630652723.mp4" allowfullscreen></iframe>
                   </div>
               </div>

         <div class="row mt-2">
            <div class="col">
               <img width="100%" src="/img/product/NCKH_2021/1740c3997d478b19d256.jpg" alt="">
            </div>
            <div class="col d-flex">
               <img width="100%" class="m-auto"
                  src="/img/product/NCKH_2021/234678600_238374284818982_4970255610361065131_n.png" alt="">
            </div>
            <div class="col d-flex">
               <img width="100%" class="m-auto" src="/img/product/NCKH_2021/3ae96d0ad3d4258a7cc5.jpg" alt="">
            </div>
            <div class="col">
               <img width="100%" src="/img/product/NCKH_2021/37bf062db8f34ead17e2.jpg" alt="">
            </div>

         </div>

         <div class="row mt-2">
            <div class="col">
               <img width="75%" src="/img/product/NCKH_2021/61b629fc9422627c3b33.jpg" alt="">
            </div>
            <div class="col">
               <img width="100%" src="/img/product/NCKH_2021/ad2b551feac11c9f45d0.jpg" alt="">
            </div>
            <div class="col">
               <img width="100%" src="/img/product/NCKH_2021/b7aef1924e4cb812e15d.jpg" alt="">
            </div>
         </div>

         <div class="row mt-2">
            <div class="col">
               <img width="100%" src="/img/product/NCKH_2021/d1d8f60c48d2be8ce7c3.jpg" alt="">
            </div>
            <div class="col d-flex">
               <img width="100%" class="m-auto" src="/img/product/NCKH_2021/de0bda6565bb93e5caaa.jpg" alt="">
            </div>
            <div class="col d-flex">
               <img width="75%" class="m-auto" src="/img/product/NCKH_2021/46716322defc28a271ed.jpg" alt="">
            </div>
            <div class="col">
               <img width="100%" src="/img/product/NCKH_2021/f1d0e1005fdea980f0cf.jpg" alt="">
            </div>
         </div>

         <div class="row mt-2">
                  <div class="col embed-responsive embed-responsive-16by9">
                     <iframe style="height: 340px;width: 100%;" class="embed-responsive-item" src="/img/product/LineFolow/20201101_125217.mp4" allowfullscreen></iframe>
                  </div>
               </div>

         <div class="row mt-2">
            <div class="col">
               <img width="100%" src="/img/product/LineFolow/20201024_225426.jpg" alt="">
            </div>
            <div class="col">
               <img width="100%" src="/img/product/LineFolow/20201104_205901.jpg" alt="">
            </div>
         </div>
         
               <div class="row mt-2">
                  <div class="col embed-responsive embed-responsive-16by9">
                     <iframe style="height: 400px;width: 100%;" class="embed-responsive-item" src="/img/product/ROBOCAR_2021/20210408_103321.mp4" allowfullscreen></iframe>
                  </div>
               </div>

         <div class="row mt-2">
            <div class="col d-flex">
               <img width="74%" class="m-auto" src="/img/product/ROBOCAR_2021/FB_IMG_1616841997644.jpg" alt="">
            </div>
            <div class="col">
               <img width="100%" src="/img/product/ROBOCAR_2021/20210327_072553.jpg" alt="">
            </div>
         </div>

         <div class="row mt-2">
            <div class="col">
               <img width="100%" src="/img/product/ROBOCAR_2021/20210325_102729.jpg" alt="">
            </div>
         </div>
      </div>
   </div>
</body>
<footer>
   <%- include('./layout/footer');%>
</footer>

</html>