<!DOCTYPE html>
<html>
    <head>
        <title>Mission flight plan</title>
        <link rel="stylesheet" type="text/css" href="css/coverage.css">
        <%- include('./layout/head'); %>
        <%- include('./layout/header'); %>
    </head>
    <body>
        <div class="box">
            <div class="row header">
                <center>
                    <div id="settings">
                        <table>
                            <tr>
                                <td rowspan="2">
                                    Entry angle: <input type="text" name="angle" id="angle" size="3" value="0" oninput="queueAreaReset()"> (0-360 degrees)<br>
                                    First turn: <select name="turn" id="turn" onchange="queueAreaReset()"><option value="1">Right</option><option value="0">Left</option></select><br>
                                    Row separation: <input type="text" name="separation" id="separation" size="3" value="20" oninput="queueAreaReset()"> meters<br>
                                    Altitude: <input type="text" name="altitude" id="altitude" size="3" value="16"> meters<br>
                                </td>
                                <td rowspan="2" id="pointstd">
                                    Area points:&nbsp;
                                    <button onclick="recenterView()">Fit view to area</button>&nbsp;
                                    <button onclick="recenterArea()">Fit area to view</button>&nbsp;
                                    <textarea rows="5" cols="4" name="points" id="points" oninput="queueAreaReset()"></textarea>
                                    <div id="feedback" class="feedback"></div>
                                </td>
                                <td rowspan="2">
                                    Path length: <span id="pathlength"></span><br>
                                    Flight speed: <input type="text" name="speed" id="speed" size="3" value="6" oninput="queueAreaReset()"> meters/sec<br>
                                    Turn time: <input type="text" name="turntime" id="turntime" size="3" value="4" oninput="queueAreaReset()"> sec<br>
                                    Estimated time: <span id="esttime"></span><br>
                                    Efficiency: <span id="efficiency"></span><br>
                                </td>
                                <td>
                                    Total waypoints: <span id="totalwaypoints"></span><br>
                                    Filename: <input type="text" name="filename" id="filename" size="10" value="mission"><br>
                                    <button onclick="downloadMission()">Download mission file</button><br>
                                    <div id="feedback2" class="feedback"></div>
                                </td>
                            </tr>
                            
                        </table>
                    </div>            
                </center>
            </div>
            <div id="mapcontainer" class="row content">
                <div id="map"></div>
            </div>
        </div>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAHEpxiql-60RbABZAGAkaFZQxBNQo7zqw&callback=initMap"> </script>
        <script src="js/mission/DeleteMenu.js"></script>
        <script>
            var startLat =15.977274018768265;
            var startLng = 108.25431316931152;
        </script>
        <script src="js/mission/generate.js"></script>
        <script src="js/mission/coverage.js"></script>
    </body>
    <footer>
        <%- include('./layout/footer');%>
    </footer>
    
    
</html>